:root {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url("images/wilmer-martinez-8WR86Z_mLms-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

header {
  grid-row: 1;
  background-color: rgba(0, 0, 0, 0.701);
}

#win-container {
  display: none; 
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: rgba(0, 0, 0, 0.824);
  width: 500px;
  height: 250px;
  border-radius: 20px;
  border: rgb(255, 0, 255) 2px solid;
}

.winner {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 225);
  text-shadow: 2px 2px 8px rgb(255, 0, 255);
}

#play-again {
  width: 125px;
  justify-self: unset;
  height: 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: rgb(255, 255, 225);
  background-color: rgba(0, 0, 0);
  border: rgb(255, 0, 255) 2px solid;
}

#play-again:hover {
  text-shadow: 0px 0px 15px rgb(255, 0, 255);
  box-shadow: 0px 0px 25px rgb(255, 255, 0);
  background-color: rgba(0, 0, 0, 0.900);
  transition: all 0.4s ease 0s;
}

#player-one-win {
  display: none;
}

#player-two-win {
  display: none;
}

#draw {
  display: none;
}

h1 {
  font-size: 4rem;
  font-family: 'Kanit', sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 2px 2px 8px rgb(255, 0, 255);
  letter-spacing: 5px;
  margin: 35px 0px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

#new-game-btn {
  width: 125px;
  justify-self: unset;
  height: 40px;
  border-radius: 8px;
  border: none;
  color: whitesmoke;
  font-weight: bold;
  background-color: black;
  cursor: pointer;
  border: rgb(255, 0, 255) 2px solid;
}

#new-game-btn:hover {
  text-shadow: 0px 0px 15px rgb(255, 0, 255);
  box-shadow: 0px 0px 25px rgb(255, 255, 0);
  background-color: rgba(0, 0, 0, 0.900);
  transition: all 0.4s ease 0s;
}

#restart-game-btn {
  width: 125px;
  justify-self: unset;
  height: 40px;
  border-radius: 8px;
  border: none;
  color: whitesmoke;
  font-weight: bold;
  background-color: black;
  cursor: pointer;
  display: none;
  border: rgb(255, 0, 255) 2px solid;
}

#restart-game-btn:hover {
  text-shadow: 0px 0px 15px rgb(255, 0, 255);
  box-shadow: 0px 0px 25px rgb(255, 255, 0);
  background-color: rgba(0, 0, 0, 0.900);
  transition: all 0.4s ease 0s;
}

#game-container {
  grid-row: 3;
  display: grid;
  visibility: collapse;
  justify-self: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  width: 500px;
  height: 500px;
}

.squares {
  display: flex;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  color: rgb(252, 252, 252);
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  font-family: 'Kanit', sans-serif;
  border: 3px solid rgb(255, 0, 255);
  cursor: pointer;
}

.squares:hover {
  text-shadow: 0px 0px 15px rgb(255, 0, 255);
  box-shadow: 0px 0px 35px rgb(255, 255, 0);
  background-color: rgba(0, 0, 0, 0.527);
  transition: all 0.4s ease 0s;
}

#credit {
  grid-row: 4;
  text-align: center;
  font-size: 1.25rem;
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

footer {
  font-size: 1.15rem;
  color: whitesmoke;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}