:root {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("images/wilmer-martinez-8WR86Z_mLms-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr;
}

.container {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

header {
  grid-row: 1;
  background-color: rgba(0, 0, 0, 0.701);
}

h1 {
  font-size: 4rem;
  font-family: 'Kanit', sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 2px 2px 8px rgb(255, 0, 255);
  letter-spacing: 5px;
  margin: 35px 0px;
}

#game-container {
  grid-row: 3;
  display: grid;
  /*switches to grid upon game start*/
  justify-self: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  width: 600px;
  height: 600px;
}

.square {
  display: flex;
  /*Switches to flex upon start of game*/
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  color: rgb(252, 252, 252);
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  font-family: 'Kanit', sans-serif;
  border: 3px solid rgb(255, 0, 255);
}

.square:hover {
  text-shadow: 0px 0px 15px rgb(255, 0, 255);
  box-shadow: 0px 0px 35px rgb(255, 255, 0);
  background-color: rgba(0, 0, 0, 0.68);
  transition: all 0.4s ease 0s;
}

form {
  grid-row: 2;
  justify-self: center;
  display: flex;
  gap: 30px;
  color: whitesmoke;
}

.player-container {
  display: flex;
  gap: 10px;
}

.player {
  font-size: 1.25rem;
}

#credit {
  grid-row: 4;
  text-align: center;
  font-size: 1.25rem;
  margin: 0 0 9px 0;
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

footer {
  grid-row: 2 / span 1;
  font-size: 1.15rem;
  color: whitesmoke;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}